body{
  background-color: gray;
}
img{
  display: block;
  margin-right: auto;
  margin-left: auto;
}
h1{
  text-align: center;
  font-family: 'Grenze Gotisch', cursive;
  text-decoration-line: underline;
}
h2{
  text-align: center;
  font-family: 'Grenze Gotisch', cursive;
  text-decoration-line: underline;
}
div{
  text-align: center;
}
input{
  border-radius: 5px;
  background-color: lightcoral;
  text-align: center;
}