@import 'https://fonts.googleapis.com/css?family=Lily+Script+One';
@import url('https://fonts.googleapis.com/css2?family=Vollkorn&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/**background editing**/

#home #background{
    width: 100%;
    height: 100vh;
    background-image: url(images/banner.png);
    background-repeat: no-repeat;
}
#home #background h1{
    color: cornsilk;
    text-align: center;
    font-size: 40px;
    font-family: monospace;
    position: absolute;
    top: 50%;
    left: 35%;
    margin: -25px 0 0 -25px;
}

/*Extra editing*/

#our-planets h1{
    font-size: 40px;
    font-family: fantasy;
    background-color: darkblue;
    color: darkgray;
    text-align: center;
    text-decoration: underline;
    position: fixed;
}

img{
    opacity: 1;
    width: 340px;
    height: 340px;
}

#odd .front{
    width: fit-content;
}
  
/*Making planet's cards*/

.row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 10px;
}
.card {
  /* position: absolute; */
  /* top: 50%;
  left: 50%; */
  width: 340px;
  height: 340px;
  /* margin: -150px; */
  /* float: left; */
  perspective: 500px;
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);

  transition: transform 1s;
  transform-style: preserve-3d;
}

.card:hover .content {
  transform: rotateY( 180deg ) ;
  transition: transform 0.5s;
}

.front,
.back {
  position: absolute;
  height: 340px;
  width: 340px;
  font-size: large;
  font-family: 'Vollkorn','serif';
  background: white;
  color: #03446A;
  text-align: center;
  border-radius: 5px;
  backface-visibility: hidden;
}

.back {
  background: #03446A;
  color: white;
  padding: 30px;
  transform: rotateY( 180deg );
}
.last-background{
    background-image: url(images/last-background.jpg);
}
body{
    background-color: black;
}
h4{
  font-size: 35px;
  font-family: 'Lily Script One';

}